:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1300px;
  width: 100%;
  padding: 2rem;
  margin: auto;
}
h1 {
  text-align: center;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
}
.container > form {
  width: 50%;
  display: flex;
  gap: 5px;
  margin: 2rem auto;
}
.container > form > input {
  width: 80%;
  padding: 1rem;
  border: 1px solid gray;
  border-radius: 5px 0 0 5px;
  outline: none;
  font-size: 1.2rem;
}
.container > form > button {
  width: 20%;
  padding: 1rem;
  border-radius: 0 5px 5px 0;
  background-color: rgb(0, 132, 255);
  color: white;
  font-weight: 600;
  letter-spacing: 2px;
  cursor: pointer;
  text-transform: uppercase;
}
.Todocontainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.todo {
  display: flex;
  gap: 1rem;
  background-color: white;
  padding: 1rem;
  align-items: center;
}
.todo > input {
  width: 2rem;
  height: 2rem;
  flex: none;
}
.todo > p {
  font-size: 600;
}
.todo > button {
  flex: none;
  width: 2rem;
  height: 2rem;
  border: none;
  background-color: crimson;
  color: white;
  cursor: pointer;
  border-radius: 100%;
  margin-left: auto;
}
.todo > button:hover {
  opacity: 0.8;
}

.textCut {
  text-decoration: line-through;
}
